* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: 'Red Hat Display', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

img {
	display: block;
}

button {
	font-family: inherit;
}

main {
	display: block;
	min-height: 100dvh;
}
