@use '../abstracts' as *;

.footer {
	position: relative;

	&__content {
		position: absolute;
		top: 80%;
		width: 100%;
		background-image: url('../assets/mobile/image-footer.jpg');
		background-size: cover;
		padding: 4rem 2rem;
		text-align: center;
		z-index: 5;

		@include breakpointMobile(48rem) {
			padding: 4rem 8.25rem;
			background-image: url('../assets/tablet/image-footer.jpg');
		}

		@include breakpointMobile(80rem) {
			background-image: url('../assets/desktop/image-footer.jpg');
			padding: 7rem 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 3rem;
			text-align: start;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: hsla(192, 37%, 48%, 0.849);
			z-index: -1;
		}

		h2 {
			font-size: 2rem;
			font-weight: 900;
			line-height: 110%;
			color: white;

			@include breakpointMobile(48rem) {
				font-size: 2.25rem;
			}

			@include breakpointMobile(80rem) {
				font-size: 2.5rem;
				max-width: 455px;
			}
		}

		p {
			font-weight: 500;
			line-height: 150%;
			color: white;
			margin: 1.5rem 0;

			@include breakpointMobile(80rem) {
				font-size: 1.125rem;
			}

			@include breakpointMobile(80rem) {
				margin: 0;
				max-width: 22.188rem;
			}
		}

		button {
			@include breakpointMobile(80rem) {
				align-self: flex-start;
			}
		}
	}
}
